Package: GNU-IceCat
Version: 60.7.0
Architecture: amd64
Maintainer: Tommy Miland (tmiland) <kontakt@tmiland.com>
Installed-Size:
Depends:
Section: non-free/net
Priority: optional
Homepage: https://github.com/tmiland/GNU-IceCat
Description: GNU IceCat is the GNU version of the Firefox browser
 GNUzilla is the GNU version of the Mozilla suite, and GNU IceCat is the GNU version of the Firefox browser. Its main advantage is an ethical one: it is entirely free software. While the Firefox source code from the Mozilla project is free software, they distribute and recommend nonfree software as plug-ins and addons. Also their trademark license imposes requirements for the distribution of modified versions that make it inconvenient to exercise freedom 3.
 .
 This package contains the GNU IceCat browser.
